<div class="audiovideo" ng-class="{'cameraMute': cameraMute, 'microphoneMute': microphoneMute}">
  <div class="audiovideoBase">
    <div class="localContainer">
      <div class="localVideos">
        <video class="localVideo" autoplay="autoplay" muted="true"></video>
        <div class="onlyaudio"><i class="fa fa-eye-slash"></i></div>
        <div class="overlayLogo"></div>
      </div>
    </div>
    <div class="remoteContainer">
      <div class="remoteVideos nicescroll"></div>
      <div class="miniContainer" ng-class="{talking: talking}">
        <video class="miniVideo" autoplay="autoplay" muted="true"></video>
        <div class="onlyaudio"><i class="fa fa-eye-slash"></i></div>
      </div>
    </div>
  </div>
</div>
